{% extends "base.html" %}

{% block content %}

  {% for p in posts %}
    {{ p.render() | safe }}

    
    {% for c in comments %}
      {% if p.key().id() == c.c_post_id %}
        {{ c.render() | safe}}
      {% endif %}
    {% endfor %}
    

    {% if user.name == p.author %}
    	<div id="footer">
    	  <form id="edit" method="get" action="/blog/edit/{{(p.key().id())}}">
    	      <input type="submit" value="Edit">
    	  </form>
    	  <form id="delete" method="get" action="/blog/deletepost/{{(p.key().id())}}">
          <input type="submit" name="delete" value="Delete">
    	  </form>
    	</div>
  	{% endif %}

    {% if user.name != p.author and user %}
      <div class="like-comment-buttons">
        <form method="get" action="">
            <input id="like" type="submit" name="like" value="Like">
        </form>
        <form method="get" action="/blog/newcomment/{{((p.key().id()))}}">
            <input id="comment" type="submit" name="comment" value="Comment">
        </form>
      </div>   
    {% endif %}
    <br><br>
  {% endfor %}

  <form method="get" action="/blog/history">
    <input type="submit" value="History">
  </form>

{% endblock %}
